hosting/config.php
*.p8
**/bin/
**/obj/
windows/**/bin/
windows/**/obj/
windows/dist/
ios/build/
ios/dist/
ios/FaceUnlock.xcodeproj/
ios/archive.xcarchive/
DerivedData/
windows/CredentialProvider/build/
.DS_Store
